
.root {
    -fx-background: #EFECCA;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane
{
    -fx-tab-min-width:90px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab
{
    -fx-background-color: #A7A37E;

}

.tab-pane .tab:selected
{
    -fx-background-color: #E6E2AF;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #002F2F;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #002F2F;
}

.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
    /* -fx-padding: 0.416667em 0.166667em 0.0em 0.833em; /* 5 2 0 10 */
    -fx-padding: 0.416667em 0.166667em 0.0em 0.0em; /* overriden as 5 2 0 0 */
}


/* Button Styling */
.button{
    -fx-background-color:
    linear-gradient(#f0ff35, #3c3c3c),
    radial-gradient(center 50% -40%, radius 200%, #e6e2af 45%, rgba(167, 163, 126, 0.87) 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #002F2F;
}

/* ListView Styling */
.list-view {
    -fx-background-color: #EFECCA;
}


.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#b4b08a 0%, #A7A37E 25%, #a19d79 75%, #94906d 100%);
    -fx-text-fill: #002F2F;
}

.list-cell:even { /* <=== changed to even */
    -fx-background-color: #E6E2AF;
}

.list-cell:odd { /* <=== changed to even */
    -fx-background-color: #EFECCA;
}

.list-cell:filled:hover {
    -fx-background-color: #EFECCA;
    -fx-text-fill: #002F2F;
}

/* Checkbox Styling       -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;*/
.check-box .box {

    -fx-background-color: #595540;
    -fx-outer-border: #e6e2af;
    -fx-inner-border: #e6e2af;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 2, 2, 1, 1;
    -fx-padding: 0.25em; /* 3 -- padding from the outside edge to the mark */
}

/* Textbox styling */

.text-field.error {
    -fx-text-box-border: red ;
    -fx-focus-color: red ;
}

.table-view {
    -fx-base: #EFECCA;
    -fx-control-inner-background: #EFECCA;
    -fx-background-color: #EFECCA;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-border-color:
    transparent
    transparent
    derive(-fx-base, 80%)
    transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 14pt;
    -fx-text-fill: #002F2F;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: linear-gradient(#b4b08a 0%, #A7A37E 25%, #a19d79 75%, #94906d 100%);
}

.topic-name {
    -fx-font-size: 14pt;
    -fx-text-fill: #002F2F;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}